/* STARTING ABOUT ANIMATION IN CSS3 */
@keyframes animacao01 {
    from {background-color: red;}
    to {background-color: yellow;}
}

.animation-01 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animacao01;
    animation-duration: 5s;
    text-align: center;
}

@keyframes animacao02 {
    0%  {}
    30% {width: 100px;}
    60% {background-color: red;}
    80% {left: 100px; background-color: blue;}
    100% {height: 100px;}
}

.animation-02 {
    width: 200px;
    height: 200px;
    background-color: black;
    animation-name: animacao02;
    animation-duration: 6s;
    position: relative;
}

@keyframes animacao03 {
    from {left: 0;}
    to {left: 200px; background-color: green;}
}

.animation-03 {
    width: 100px;
    height: 100px;
    background-color: purple;
    position: relative;
    animation-name: animacao03;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes animacao04{
    from {left: 0}
    to {left: 150px;}
}

.box {
    background-color: orange;
    width: 100px;
    height: 50px;
    margin: 1rem;
    position: relative;
    animation-name: animacao04;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    text-align: center;
}

#animation-04 {
    animation-timing-function: linear;
}
#animation-05 {
    animation-timing-function: ease;
}
#animation-06 {
    animation-timing-function: ease-in;
}
#animation-07 {
    animation-timing-function: ease-out;
}
#animation-08 {
    animation-timing-function: ease-in-out;
}

@keyframes animacao05 {
    0% {left: 0px;}
    25% {left: 20px; background-color: blue;}
    70% {left: 100px; background-color: orange;}
    100% {left: 50px; background-color: red;}
}

#animation-09 {
    background-color: darkblue;
    width: 50px;
    height: 50px;
    position: relative;
    animation: animacao05 5s linear 2s infinite;
}
/* ENDING ABOUT ANIMATION IN CSS3 */

/* STARTING ABOUT TRANSITION IN CSS3 */
.btn-not-bootstrap {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    width: 150px;
    height: 75px;
    color: #FFF;
    text-transform: uppercase;
    background-color: #333;
    border: 1px solid #333;
    cursor: pointer;
    transition: 1s;
}

.btn-not-bootstrap:hover {
    color: #333;
    background-color: #FFF;
}

.transition {
    width: 50px;
    height: 100px;
    background-color: red;
    transition: 4s;
}

.transition:hover {
    width: 300px;
}
/* ENDING ABOUT TRANSITION IN CSS3 */

/* STARTING ABOUT CALC IN CSS3 */
.calc {
    height: 250px;
    width: 500px;
    position: relative;
    margin: 20px;
    background-color: #DDD;
    border: 1px solid red;
}

.inner-calc {
    height: 50px;
    margin: 10px;
    position: relative;
    background-color: red;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    color: #FFF;
    padding-top: 10px;
}

.calcone {
    width: calc(50% + 50px);
}

.calctwo {
    width: calc(50% - 50px);
}

.calcthree {
    width: calc();
}

.calcthree {
    width: calc((50% * 2) - 20px);
}

.calcfour {
    width: calc(50% / 2);
}
/* ENDING ABOUT TRANSITION IN CSS3 */

/* STARTING ABOUT GRADIENT IN CSS3 */
.gradient-box {
    width: 500px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.gradientone {
    background-image: linear-gradient(purple, blue);
}

.gradienttwo {
    background-image: linear-gradient(to right, purple, blue);
}

.gradientthree {
    background-image: linear-gradient(to left, purple, blue);
}

.gradientfour {
    background-image: linear-gradient(to top, purple, blue);
}

.gradientfive {
    background-image: linear-gradient(to top right, purple, blue);
}

.gradientsix {
    background-image: linear-gradient(to top left, purple, blue);
}

.gradientseven {
    background-image: radial-gradient(#3A3042, #DB9D47, #FF784F);
}

.gradienteight {
    background-image: radial-gradient(#3A3042 10%, #DB9D47 30%, #FF784F);
}

.gradientnine {
    background-image: radial-gradient(circle, #3A3042 10%, #DB9D47 30%, #FF784F);
}
/* ENDING ABOUT GRADIENT IN CSS3 */

/* STARTING ABOUT FONT-FACE IN CSS3 */
@font-face {
    font-family: "Lage Grafica";
    src: url(fonts/lage_grafica.ttf);
}

.fontface {
    font-family: "Lage Grafica";
}
/* ENDING ABOUT FONT-FACE IN CSS3 */

/* STARTING ABOUT MEDIA-QUERY IN CSS3 */
.media-querry {
    height: 200px;
    width: 600px;
    background-color: red;
}

@media (max-width: 1000px) {
    .media-querry {
        width: 500px;
        background-color: blue;
    }
}
/* ENDING ABOUT MEDIA-QUERY IN CSS3 */

/* STARTING ABOUT BORDER-RADIUS IN CSS3 */
.border {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin: 20px;
}

.border-radius-one {
    border-radius: 50%;
}

.border-radius-two {
    border-top-right-radius: 20px;
}
/* ENDING ABOUT BORDER-RADIUS IN CSS3 */

/* STARTING ABOUT FLEX BOX IN CSS3 */
.container-flex {
    display: flex;
    background-color: #3A3042;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.boxes {
    margin: 1em;
    /* 1° grow 2° shrink 3° basis */
    /* flex: 1 1 auto; */
    width: 100px;
    height: 100px;
}

.first {
    background-color: red;
    text-align: center;
    color: #FFF;
    order: 1;
    /* flex: 2 1 300px; */
    align-self: flex-start;
}

.second {
    background-color: green;
    text-align: center;
    color: #FFF;
    order: 2;
    /* flex: 1 1 300px; */
    align-self: flex-end;
}

.third {
    background-color: blue;
    text-align: center;
    color: #FFF;
    order: 3;
    /* flex: 1 2 300px; */
}

.section-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-description p {
    margin: 0;
}

/* 
display: flex; - inicia o flex no container;
flex-grow: (1 - infinito) - da tamanho ao elemento preechendo os espaços vazios;
flex-shrink: (1 - infinito) - o contrário do grow;
flex-basis: 300px - tamanho inicial do elemento, e o resto é preenchido pelo grow;
flex shorthand - <grow> <shrink> <basis>;
flex-direction: (column ou row) - muda a direção que os elementos estão;
flex-order: muda a ordem dos elementos individualmente
justify-content: (orizontal) - alinha os elementos no eixo principal
align-item: (vertical) - alinha os elementos no eixo secundárop
align-self: () - alinha o elemento em particular
*/
/* STARTING ABOUT FLEX BOX IN CSS3 */   